<layout-use("../../layout.marko", data)>
  <layout-put into="content">
    <div class="jumbotron">
      <h1>CS-546 Lab 8-Marvel API</h1>
      <br>
      <br>
      <br>
      <br>
      <p>
        <a class="btn btn-primary btn-lg" href="/characters" role="button">Search</a>
        <span> </span>
      </p>
    </div>
  </layout-put>
</layout-use>
